# .gitignore规范如下：
# 1. 所有空行或者以`#`开头的行都会被Git忽略
# 2. 可以使用标准的`glob(https://baike.baidu.com/item/glob%E6%A8%A1%E5%BC%8F)`
# 3. 匹配模式可以以`/`开头防止递归
# 4. 匹配模式可以以`/`结尾指定目录
# 5. 要忽略指定模式以外的文件或目录，可以在模式前加上叹号`!`取反

*.[ao]
*~